<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /**
  ~
  ~ * Webkul Software.
  ~
  ~ * @package Mobikul App
  ~
  ~ * @Category Mobikul
  ~
  ~ * @author Webkul <support@webkul.com>
  ~
  ~ * @Copyright (c) Webkul Software Private Limited (https://webkul.com)
  ~
  ~ * @license https://store.webkul.com/license.html ASL Licence
  ~
  ~ * @link https://store.webkul.com/license.html
  ~
  ~ */
  -->

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Odoo Multi Vendor Mobile App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Odoo Multi Vendor Mobile App</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>mpdemo.webkul.com</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.626326470542-4af50jahvo975i2gc6mklmjivsjas69j</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb160751370189</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>160751370189</string>
	<key>FacebookClientToken</key>
	<string>fb160751370189</string>
	<key>FacebookDisplayName</key>
	<string>Odoo Multi Vendor Mobile App</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>For uploading profile image</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Optional for login?</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Description</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Description</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Description</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>to accessing microphone for communication</string>
	<key>NSMotionUsageDescription</key>
	<string>App uses Motion </string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>For customer profile picture</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need access to the microphone for searching product.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
